set surround

nnoremap ]c :action VcsShowNextChangeMarker<CR>
nnoremap [c :action VcsShowPrevChangeMarker<CR>

nnoremap ]<Space> mqo<C-c>`q
nnoremap [<Space> mqO<C-c>`q

nnoremap ]e :action MoveLineDown<CR> 
nnoremap [e :action MoveLineUp<CR>

nnoremap <space><space> :action GotoAction<CR>

nnoremap <space>feR :source ~/.ideavimrc<CR>
nnoremap <space>fs :action SaveDocument<CR>
nnoremap <space>rt :action Tool_External Tools_Run PHP Test at line in file<CR>
nnoremap <space>rr :action Tool_External Tools_ReRun PHP Last Test<CR>
nnoremap <space>oe :action Tool_External Tools_Open In Emacs<CR>
nnoremap <space>ov :action Tool_External Tools_Open in nvim<CR>
nnoremap <space>ud :action Tool_External Tools_Update dev<CR>

" copy of above, but also for visual mode
vnoremap <space>rt :action Tool_External Tools_Run PHP Test at line in file<CR>
vnoremap <space>rr :action Tool_External Tools_ReRun PHP Last Test<CR>
vnoremap <space>oe :action Tool_External Tools_Open In Emacs<CR>
vnoremap <space>ov :action Tool_External Tools_Open in nvim<CR>
vnoremap <space>ud :action Tool_External Tools_Update dev<CR>


